.widget_categories{

  ul{

    list-style: none;
    &.children{
      .cat-item{
        padding-bottom: 0;
      }
      a{
        border-left: 1px solid $dark;
      }
    }
  }

  .cat-item{
    position: relative;
    padding: $spacer/2 0;

    a{
      padding: 0 $spacer/2;
      @extend .stretched-link;

    }
  }
}
