{
	"env": {
		"browser": true,
		"es6": true,
		"commonjs": true
	},
	"extends": [
		"plugin:@wordpress/eslint-plugin/esnext",
		"plugin:@wordpress/eslint-plugin/jsdoc"
	],
	"globals": {
		
	},
	"parserOptions": {
		"ecmaVersion": 6
	},
	"rules": {
	}
}
