# Distribution Files
app
dist
build
tmp
backups

# IDE & Editors
.idea
.vscode

# OSX
*.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

*.iml

node_modules
.env

# Debug log from npm
npm-debug.log

*.map
xdebug
