{
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "crlf",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always"
}
