.wordpressify-sample {
  max-width: calc(100% - 64px);
  border: dashed 1px var(--color-info);
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 0 0 12px rgba(6, 182, 212, 0.1);

  @media (--screen-lg) {
    max-width: 620px;
    padding: 40px;
  }

  & .wp-block-heading {
    margin: 20px 0;
    border-top: dashed 1px var(--color-info);
    border-bottom: dashed 1px var(--color-info);
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 1px;
      height: calc(100% + 40px);
      border-right: dashed 1px var(--color-info);
      transform: translateY(-50%);
    }

    &::before {
      left: 20px;
    }

    &::after {
      right: 20px;
    }

    &.block-editor-rich-text__editable {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  & p {
    margin: 0;
    padding: 20px 0 0 0;
  }
}

