:root {
	--primary-color: #859A00;
	--black: #000000;
	--white: #FFFFFF;
	--success-color: #2ecc71;
	--error-color: #e74c3c;
	--pending-color: #FFFFCC;

	--background-grey: #F3F3F3;
	--disabled-gray: #ebe9eb;

	--light-gray: #E5E5E5;
	--medium-gray: #BBBBBB;
	--dark-gray: #4A4A4A;

	--light-blue: #647B84;
	--medium-blue: #002B36;
	--dark-blue: #00212B;

	--push-top-desktop: 100px;
	--push-top-mobile: 100px;
	--push-top-tablet: 100px;

	--gradient: linear-gradient(var(--primary-color), var(--dark-blue));
}

@custom-media --screen-tiny (max-width: 320px);
@custom-media --screen-mobile (max-width: 640px);
@custom-media --screen-phablet (max-width: 820px);
@custom-media --screen-tablet print, (max-width: 1000px);
@custom-media --screen-medium (max-width: 1200px);
@custom-media --screen-desktop print, (max-width: 1300px);
@custom-media --screen-wide (min-width: 2000px);
@custom-media --screen-4k (min-width: 3870px);
@custom-media --screen-desktop-only (min-width: 640px);

:root {
	--smaller-font-size: 10px;
	--smaller-line-height: 1;

	--small-font-size: 14px;
	--small-line-height: 1.1;

	--default-font-size: 16px;
	--default-line-height: 1.4;

	--medium-font-size: 20px;
	--medium-line-height: 1.3;

	--big-font-size: 24px;
	--big-line-height: 1.5;

	--bigger-font-size: 68px;
	--bigger-line-height: 1.5;

	--h1-font-size: 48px;
	--h1-line-height: 1.3;

	--h1-font-size-mobile: 8vw;
	--h1-line-height-mobile: 1.3;

	--h2-font-size: 38px;
	--h2-line-height: 1.2;

	--h2-font-size-mobile: 6vw;
	--h2-line-height-mobile: 1.2;

	--h3-font-size: 27.5px;
	--h3-line-height: 1;

	--h3-font-size-mobile: 4vw;
	--h3-line-height-mobile: 1;

	--h4-font-size: 24px;
	--h4-line-height: 1;

	--h4-font-size-mobile: 24px;
	--h4-line-height-mobile: 1;

	--h5-font-size: 21px;
	--h5-line-height: 1;

	--h5-font-size-mobile: 21px;
	--h5-line-height-mobile: 1;

	--h6-font-size: 18.4px;
	--h6-line-height: 1;

	--h6-font-size-mobile: 18.4px;
	--h6-line-height-mobile: 1;
}

:root {
	--clearfix: {
		clear: both;

		&:before,
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	};

	--noList: {
		list-style: none;
		margin: 0;
		padding: 0;

		& li {
			padding: 0;
		}
	};

	--maxWidth: {
		max-width: 1300px;
		margin: auto;
		box-sizing: border-box;

		@media (--screen-desktop) {
			padding: 0 20px;
		}
	}
}