<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"page-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group page-content">
  <!-- wp:heading {"textAlign":"center","level":1} -->
  <h1 class="wp-block-heading has-text-align-center">404 Error</h1>
  <!-- /wp:heading -->

  <!-- wp:paragraph {"align":"center"} -->
  <p class="has-text-align-center">This page doesn't exist.</p>
  <!-- /wp:paragraph -->

  <!-- wp:spacer {"height":"20px"} -->
  <div style="height: 20px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
  <div class="wp-block-buttons">
    <!-- wp:button -->
    <div class="wp-block-button">
      <a class="wp-block-button__link wp-element-button" href="/">Home</a>
    </div>
    <!-- /wp:button -->
  </div>
  <!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
