<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"},"metadata":{"name":"GG Space"}} -->
<div class="wp-block-group">
  <!-- wp:spacer {"className":"gg"} -->
  <div style="height: 100px" aria-hidden="true" class="wp-block-spacer gg"></div>
  <!-- /wp:spacer -->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group">
  <!-- wp:search {"label":"Search","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"},"metadata":{"name":"GG Space"}} -->
<div class="wp-block-group">
  <!-- wp:spacer {"className":"gg"} -->
  <div style="height: 100px" aria-hidden="true" class="wp-block-spacer gg"></div>
  <!-- /wp:spacer -->
</div>
<!-- /wp:group -->

<!-- wp:query {"queryId":10,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<div class="wp-block-query">
  <!-- wp:query-no-results -->
  <!-- wp:group {"layout":{"type":"constrained","contentSize":"480px"}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">Nema rezultata</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Vaša pretraga odgovara nijednom dokumentu</p>
    <!-- /wp:paragraph -->
  </div>
  <!-- /wp:group -->
  <!-- /wp:query-no-results -->

  <!-- wp:post-template -->
  <!-- wp:post-title {"isLink":true} /-->

  <!-- wp:post-featured-image {"isLink":true,"align":"wide"} /-->

  <!-- wp:post-excerpt /-->

  <!-- wp:post-date /-->
  <!-- /wp:post-template -->

  <!-- wp:group {"layout":{"type":"constrained"},"metadata":{"name":"GG Space"}} -->
  <div class="wp-block-group">
    <!-- wp:spacer {"className":"gg"} -->
    <div style="height: 100px" aria-hidden="true" class="wp-block-spacer gg"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->

  <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
  <!-- wp:query-pagination-previous /-->

  <!-- wp:query-pagination-numbers /-->

  <!-- wp:query-pagination-next /-->
  <!-- /wp:query-pagination -->
</div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

