:root {
	--button {
		cursor: pointer;
		font-size: var(--default-font-size);
		color: var(--light-blue);
		display: inline-block;
		box-sizing: border-box;
		padding: 15px 60px;
		background: transparent;
		text-align: center;
		margin: 0;
		transition: all .3s ease;
		border: solid 1px var(--light-gray);
		border-radius: 30px;

		@media (--screen-mobile) {
			padding: 15px 30px;
		}

		&.icon {
			position: relative;
			padding-left: 85px;

			@media (--screen-mobile) {
				padding-left: 55px;
			}

			&:before {
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				position: absolute;
				top: 50%;
				transform: translateY(calc(-50% - 2px));
				left: 60px;

				@media (--screen-mobile) {
					left: 30px
				}
			}

			&.github {
				&:before {
					background: url('./img/github-bright.svg') no-repeat center center / 16px;
				}

				&:hover {
					&:before {
						background: url('./img/github.svg') no-repeat center center / 16px;
					}
				}
			}
		}

		&:hover {
			background: var(--dark-blue);
			color: var(--white);
		}

		&:disabled {
			color: var(--dark-gray);
			background: var(--disabled-gray);

			&:hover {
				color: inherit;
				background-color: #ebe9eb;
				cursor: not-allowed;
			}
		}
	};
}

input[type='submit'] {
	@apply --button;
}

.button {
	@apply --button;
}