:root {
	--button {
		cursor: pointer;
		font-size: var(--small-font-size);
		font-family: var(--font-medium);
		text-transform: uppercase;
		color: var(--white);
		display: inline-block;
		box-sizing: border-box;
		padding: 18px 30px !important;
		background: var(--primary-color);
		text-align: center;
		transition: all 0.3s ease;
		margin: 0;

		@media (--screen-mobile) {
			padding: 18px 15px !important;
		}

		&:hover {
			background: var(--secondary-color);
			color: var(--white);
		}

		&:disabled {
			color: var(--dark-gray);
			background: var(--disabled-gray);

			&:hover {
				color: inherit;
				background-color: #ebe9eb;
				cursor: not-allowed;
			}
		}
	};
}

input[type='submit'] {
	@apply --button;
}