.wpsisac-slick-slider, .wpsisac-slick-carousal {
	margin-left: -100px;
	margin-top: -61px;
	width: calc(100% + 200px);
}

.wpsisac-slick-slider .slick-dots li button {
	background: color(var(--primary-color) alpha(-50%)) !important;
	border: solid 2px color(var(--primary-color) alpha(-100%)) !important;
	cursor: pointer;
	transition: all 0.5s;
}

.wpsisac-slick-slider .slick-dots li.slick-active button {
	background: color(var(--primary-color) alpha(100%)) !important;
	border: solid 2px color(var(--primary-color) alpha(-100%)) !important;
}

.slick-arrow, .wpsisac-slide-title {
	display: none !important;
}

.wpsisac-slick.wpsisac-prodesign-1 .wpsisac-slick-image-slide .wpsisac-slide-wrap .wpsisac-slider-content {
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	bottom: inherit !important;
	padding: 20px !important;
	text-align: center;
	width: 100% !important;
}

.wpsisac-slick.wpsisac-prodesign-1 .wpsisac-slick-image-slide .wpsisac-slide-wrap .wpsisac-slider-short-content {
	text-align: center !important;
	background: transparent !important;
}

.wpsisac-slick.wpsisac-prodesign-1 .wpsisac-slick-image-slide .wpsisac-slide-wrap .wpsisac-slider-short-content p {
	text-align: center !important;
	font-family: var(--mueso-700);
	text-transform: uppercase;
	font-size: var(--bigger-font-size) !important;

	@media (--screen-mobile) {
		font-size: var(--h1-font-size) !important;
	}
}

.slick-slide {
	@media (--screen-mobile) {
		height: 400px !important;
	}
}

.wpsisac-slick.wpsisac-prodesign-1 .wpsisac-slick-image-slide .wpsisac-slide-wrap .wpsisac-slider-short-content {
	display: block !important;

	& a {
		@apply --button;
	}

	@media (--screen-mobile) {
		margin-top: 60px;
	}
}