.site-content.single {
	& h2.single-title {
		margin: 20px 0;

		@media (--screen-mobile) {
			margin-top: 20px;
		}
	}

	& article {
		padding: 0;

		& .post-info {
			box-sizing: border-box;
			border: solid 1px var(--light-gray);
			border-radius: 5px;
			overflow: hidden;

			& span {
				display: inline-block;
				box-sizing: border-box;
				padding: 20px;
				border-right: solid 1px var(--light-gray);

				@media (--screen-mobile) {
					width: 100%;
					border-right: none;
					border-bottom: solid 1px var(--light-gray);

					&:last-child {
						border-bottom: none;
					}
				}
			}

			& .date {
				color: var(--medium-gray);
			}

			& .author {
				& a {
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			& .tags {
				padding: 10px;
				margin: 0;
				border-right: none;
				float: right;

				& a {
					@apply --tags;
					
					margin: 0;
				}
			}
		}

		& .attachment-banner-image {
			margin: 4px 0 0;
		}

		& p {
			& img {
				&.alignleft {
					float: left;
					padding: 10px 15px 10px 0;
				}

				&.alignright {
					float: right;
					padding: 10px 0 10px 15px;
				}

				&.alignleft, &.alignright {
					@media (--screen-mobile) {
						float: none;
						padding: 10px 0;
						width: 100%;
					}
				}
			}

			&:nth-child(4) {
				& img {
					&:first-of-type {
						padding-top: 0;
					}
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

article.single {
	max-width: 1024px;
	margin: auto;
}