:root {
	--font-thin: 'Helvetica Neue Thin';
	--font-light: 'Helvetica Neue Light';
	--font-roman: 'Helvetica Neue Roman';
	--font-medium: 'Helvetica Neue Medium';
	--font-bold: 'Helvetica Neue Bold';
	--font-heavy: 'Helvetica Neue Heavy';
	--font-black: 'Helvetica Neue Black';
}