:root {
	--font-thin: 'Helvetica Neue Thin';
	--font-light: 'Helvetica Neue Light';
	--font-roman: 'Helvetica Neue Roman';
	--font-medium: 'Helvetica Neue Medium';
	--font-bold: 'Helvetica Neue Bold';
	--font-heavy: 'Helvetica Neue Heavy';
	--font-black: 'Helvetica Neue Black';
}

@font-face{
	font-family: 'Helvetica Neue Thin';
	src: url('fonts/d63f77e2-a23d-496f-bc30-c61c7a689aa6.eot?#iefix');
	src: url('fonts/d63f77e2-a23d-496f-bc30-c61c7a689aa6.eot?#iefix') format('eot'),
	url('fonts/4ff9f3fa-9221-4fc5-97e6-93572b6efa24.woff2') format('woff2'),
	url('fonts/ca8d25cd-e264-4404-b271-4afc45c779c4.woff') format('woff'),
	url('fonts/e8f8260f-dbee-4daa-81a4-0e415715c569.ttf') format('truetype'),
	url('fonts/307413a4-d77e-4111-8ba5-e3b7d1e7c160.svg#307413a4-d77e-4111-8ba5-e3b7d1e7c160') format('svg');
}
@font-face{
	font-family: 'Helvetica Neue Light';
	src: url('fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix');
	src: url('fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix') format('eot'),
	url('fonts/3a46542f-f429-4821-9a88-62e3be54a640.woff2') format('woff2'),
	url('fonts/50ac1699-f3d2-47b6-878f-67a368a17c41.woff') format('woff'),
	url('fonts/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf') format('truetype'),
	url('fonts/82a4e1c2-7ffd-4c58-86fa-4010a6723c8e.svg#82a4e1c2-7ffd-4c58-86fa-4010a6723c8e') format('svg');
}
@font-face{
	font-family: 'Helvetica Neue Roman';
	src: url('fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix');
	src: url('fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix') format('eot'),
	url('fonts/3dac71eb-afa7-4c80-97f0-599202772905.woff2') format('woff2'),
	url('fonts/34e0e4c0-c294-49bb-9a8e-1b2cafd54e32.woff') format('woff'),
	url('fonts/8a8bfee3-197c-4942-9b11-71508cc9f406.ttf') format('truetype'),
	url('fonts/5101995a-e73b-4cf9-84e8-f99eb43277b1.svg#5101995a-e73b-4cf9-84e8-f99eb43277b1') format('svg');
}
@font-face{
	font-family: 'Helvetica Neue Medium';
	src: url('fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix');
	src: url('fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix') format('eot'),
	url('fonts/5b1fbd62-45dc-4433-a7df-a2b24a146411.woff2') format('woff2'),
	url('fonts/050b1948-f226-4d20-a65a-15d8ed031222.woff') format('woff'),
	url('fonts/beb88be6-2a60-46fe-914f-6892b3ae46ce.ttf') format('truetype'),
	url('fonts/e5567978-93ef-4de1-804d-1f0e3654a014.svg#e5567978-93ef-4de1-804d-1f0e3654a014') format('svg');
}
@font-face{
	font-family: 'Helvetica Neue Bold';
	src: url('fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix');
	src: url('fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix') format('eot'),
	url('fonts/531c5a28-5575-4f58-96d4-a80f7b702d7b.woff2') format('woff2'),
	url('fonts/439c5962-f9fe-4eaf-a1f6-f41d42edba75.woff') format('woff'),
	url('fonts/419a308d-b777-4f84-9235-2caf4a98ec23.ttf') format('truetype'),
	url('fonts/e4d5b881-6835-45b7-8766-3e5b9e7cab8b.svg#e4d5b881-6835-45b7-8766-3e5b9e7cab8b') format('svg');
}
@font-face{
	font-family: 'Helvetica Neue Heavy';
	src: url('fonts/b7066775-c685-4630-b98c-5da67d4981e9.eot?#iefix');
	src: url('fonts/b7066775-c685-4630-b98c-5da67d4981e9.eot?#iefix') format('eot'),
	url('fonts/dd7814bd-8abf-46c5-a4be-db0977de2cca.woff2') format('woff2'),
	url('fonts/20ffa4b4-0154-4ca6-800c-468cecbd60f1.woff') format('woff'),
	url('fonts/c68e9fac-92b0-47be-853c-1a0e92f68c3d.ttf') format('truetype'),
	url('fonts/94d5af98-e327-4660-89da-a0c66d6fdfe9.svg#94d5af98-e327-4660-89da-a0c66d6fdfe9') format('svg');
}
@font-face{
	font-family: 'Helvetica Neue Black';
	src: url('fonts/6492b5a6-2267-40e3-8ede-fd8b730790b1.eot?#iefix');
	src: url('fonts/6492b5a6-2267-40e3-8ede-fd8b730790b1.eot?#iefix') format('eot'),
	url('fonts/bd8486cc-4614-412d-ba1d-15e1a7c9fada.woff2') format('woff2'),
	url('fonts/a7bdf5a9-752e-4e69-b17c-b7e62575b07a.woff') format('woff'),
	url('fonts/e1f8b69f-5d23-44bc-88bf-94778cc978a3.ttf') format('truetype'),
	url('fonts/22a406f9-eeb2-41eb-ab5e-242ec26f3a88.svg#22a406f9-eeb2-41eb-ab5e-242ec26f3a88') format('svg');
}
