footer {
	clear: both;
	overflow: hidden;
	width: 100%;
	background: var(--black);
	color: var(--white);
	box-sizing: border-box;
	padding: 20px;

	& div.menu {
		float: right;

		& ul {
			list-style: none;

			& li {
				& a {
					color: var(--white);
				}
			}
		}
	}
}