html, body {
	background: var(--white);
	color: var(--black);
	font-family: var(--font-roman);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

* {
	outline: none;

	&::selection {
		color: var(--white);
		background: var(--secondary-color);
	}
}

a, button {
	text-decoration: none;
	transition: all 0.3s ease;
	color: var(--primary-color);

	&:hover {
		color: var(--secondary-color);
	}
}

img {
	max-width: 100%;
	height: auto;
}

p {
	font-size: var(--default-font-size);
	line-height: var(--default-line-height);
}