html, body {
	background: var(--background-grey);
	color: var(--black);
	font-family: var(--futura-book);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	outline: none;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}

.container {
	padding: 65px 100px;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.main-column, .side-column {
	background: var(--white);
	box-shadow: 0 2px 4px 0 color(var(--black) alpha(-80%));
	box-sizing: border-box;
	padding: 60px;
	float: left;

	@media (--screen-mobile) {
		padding: 20px;
	}
}

.main-column {
	width: 70%;
}

.side-column {
	width: 30%;
}