:root {
	--tags: {
		display: inline-block;
		margin: 0 10px 10px 0;
		border: dashed 1px var(--secondary-color);
		box-sizing: border-box;
		border-radius: 5px;
		padding: 10px;
	};
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 20px);
	margin: 10px -10px 0;

	&.no-result {
		height: auto !important;
	}
}

article {
	flex: calc(33.333% - 20px);
	width: calc(33.333% - 20px);
	padding: 10px;

	@media (--screen-phablet) {
		flex: calc(50% - 20px);
		width: calc(50% - 20px);
	}


	@media (--screen-mobile) {
		flex: calc(100% - 20px);
		width: calc(100% - 20px);

		&:last-child {
			padding-bottom: 0;
		}
	}

	&.page {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}

	&.fixed {
		max-width: 1024px;
		margin: auto;
	}

	&:nth-child(1) {
		transition-delay: 0.1s;
	}

	&:nth-child(2) {
		transition-delay: 0.2s;
	}

	&:nth-child(3) {
		transition-delay: 0.3s;
	}

	&:nth-child(4) {
		transition-delay: 0.3s;
	}

	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9),
	&:nth-child(10),
	&:nth-child(11),
	&:nth-child(12) {
		transition-delay: 0.3s;
	}

	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9),
	&:nth-child(10),
	&:nth-child(11),
	&:nth-child(12) {
		@media (--screen-mobile) {
			transition-delay: 0s;
		}
	}

	@media (--screen-tablet) {
		flex: calc(33.333% - 20px);
		max-width: calc(33.333% - 20px);
	}

	@media (--screen-phablet) {
		flex: calc(50% - 20px);
		max-width: calc(50% - 20px);
	}

	@media (--screen-mobile) {
		flex: 100%;
		max-width: 100%;
	}

	&.single {
		max-width: 100%;
		flex: 100%;
		width: 100%;
	}

	& .post-thumbnail {
		margin: 0;
		padding: 0;
		overflow: hidden;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		&:hover ~ .postInnerContent {
			box-shadow: 0 5px 45px 0 color(var(--black) alpha(-90%));

			& h2 {
				& a {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}

	& .postInnerContent {
		border: solid 1px var(--light-gray);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		margin-top: -5px;
		box-shadow: 0 5px 45px 0 color(var(--black) alpha(-100%));
		transition: all 0.3s ease;

		&:hover {
			box-shadow: 0 5px 45px 0 color(var(--black) alpha(-90%));
		}

		& h2, & p {
			margin: 0;
			padding: 0;
		}

		& h2 {
			display: block;
			font-size: var(--default-font-size);
			line-height: var(--default-line-height);
			font-family: var(--font-medium);
			width: 100%;

			& a {
				color: var(--black);
				box-sizing: border-box;
				padding: 30px;
				display: inline-block;
				text-transform: uppercase;
				width: 100%;
				position: relative;

				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 100%;
					background: color(var(--primary-color) alpha(-90%));
					top: 0;
					left: 0;
					transition: all 0.3s ease;
				}

				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}

		& p {
			padding: 30px;
			box-sizing: border-box;
			display: block;
			color: var(--dark-gray);
			border-top: solid 1px var(--light-gray);

			&:empty {
				display: none;
			}

			& i {
				font-style: normal;
			}
		}

		& .tags {
			box-sizing: border-box;
			padding: 0 30px 20px;

			& a {
				@apply --tags;
			}
		}
	}
}