.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--dark-blue);
	overflow: hidden;
	border-bottom: solid 1px var(--medium-blue);
	z-index: 100;
	transition: all 1s ease;
	height: 100vh;

	& .inner-content {
		@apply --maxWidth;
		position: relative;
		height: 100%;

		& .logo {
			display: inline-block;
			box-sizing: border-box;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: all 1s;
			transition-delay: 1s;

			& img {
				display: flex;
			}
		}
	}

	&.loaded {
		height: var(--push-top-desktop);

		@media (--screen-tablet) {
			height: var(--push-top-tablet);
		}

		@media (--screen-mobile) {
			height: var(--push-top-mobile);
		}

		& .inner-content {
			& .logo {
				left: 0;
				transform: translate(0, -50%);

				@media (--screen-desktop) {
					left: 20px;
				}
			}
		}

		&.scrolled {
			height: 80px;
		}
	}
}

.reset-delay {
	transition-delay: 0s !important;
}