:root {
	--input-type: {
		appearance: none;
		background: var(--white);
		border: solid 1px var(--light-gray);
		border-radius: 5px;
		box-sizing: border-box;
		padding: 15px;
		font-family: var(--font-text);
		font-size: var(--default-font-size);
		transition: all .3s ease;

		&:focus {
			border-color: var(--primary-color);
		}
	};

	--input-select {
		appearance: none;
		font-size: var(--small-font-size);
		font-family: var(--font-text);
		text-transform: uppercase;
		color: var(--dark-gray);
		display: inline-block;
		box-sizing: border-box;
		padding: 15px 15px;
		background: url('img/arrow.svg') no-repeat var(--white);
		background-position: calc(100% - 15px);
		text-align: center;
		transition: all .3s ease;
		border: solid 1px var(--light-gray);
		cursor: pointer;
		padding-right: 45px;

		&:hover {
			background: url('img/arrow.svg') no-repeat color(var(--primary-color) alpha(-95%));
			background-position: calc(100% - 15px);
		}
	};
}

input[type='text'], input[type='password'], input[type='number'], input[type='tel'], input[type='email'], input[type='email'], textarea {
	@apply --input-type;
}

input[type='checkbox'] {
	appearance: none;
	cursor: pointer;
	background: color(var(--dark-blue) alpha(-90%));
	border: solid 1px var(--light-gray);
	width: 18px;
	height: 18px;
	position: relative;
	transition: all .4s ease;
	border-radius: 5px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		background: transparent;
		box-sizing: border-box;
		border-radius: 3px;
		transition: all .4s ease;
	}

	&:checked {
		&:before {
			border-radius: 3px;
			width: 10px;
			height: 10px;
			background: var(--dark-blue);
		}
	}
}


select {
	@apply --input-select;
}

textarea {
	min-height: 100px;
}