.header {
	& .navigation {
		float: right;
		box-sizing: border-box;
		height: 100%;
		display: flex;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 1s ease;
		transition-delay: 1s;

		& div {
			display: flex;
			height: 100%;
		}

		& .github {
			display: flex;
			margin-left: 20px;
			position: relative;
			width: 32px;
			height: 32px;
			top: 50%;
			transform: translateY(-50%);

			&:after {
				content: attr(data-counter);
				display: block;
				position: absolute;
				right: 45px;
				top: 50%;
				transform: translateY(-50%);
				width: 100px;
				text-align: right;
				font-family: var(--font-code);
				font-size: var(--small-font-size);

				@media (--screen-mobile) {
					display: none;
					content: none;
				}
			}

			& img {
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				opacity: 1;
				transition: all .3s ease;
				width: 32px;
				height: 32px;
				transition: all .5s ease;
				transform: translateY(0);
				z-index: 5;

				&.bright {
					transform: translateY(300%);
					opacity: 0;
				}
				
				&:hover {
					opacity: .5;
				}
			}
		}

		& ul.menu {
			@mixin noList;
			padding: 5px 0;
			margin: auto;
			display: flex;
			align-items: center;

			& li {
				display: inline-block;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}

				& a {
					text-transform: uppercase;

					&:hover {
						color: color-mod(var(--primary-color) lightness(40%));
					}
				}
			}
			
		}
	}

	&.loaded {
		& .navigation {
			transform: translateY(0);
			opacity: 1;
		}

		&.scrolled {
			& .navigation {
				& .github {
					& img {
						transform: translateY(-300%);
						opacity: 0;

						&.bright {
							transform: translateY(0);
							opacity: 1;
						}
					}
				}
			}
		}

		&.bright {
			& .navigation {
				& .github {
					& img {
						transform: translateY(-300%);
						opacity: 0;

						&.bright {
							transform: translateY(0);
							opacity: 1;
						}
					}
				}
			}
		}
	}
}