.not-found {
	max-width: 640px;
	margin: auto;
	text-align: center;

	&.none {
		margin-top: 0px;
		box-sizing: border-box;
		padding: 0 10px;
	}

	& h1 {
		margin: 20px 0;

		@media (--screen-mobile) {
			margin: 20px 0 30px;
		}
	}

	& .sad-icon {
		filter: drop-shadow(0 0 25px color(var(--black) alpha(-85%)));
		margin: 20px 0;

		@media (--screen-mobile) {
			max-width: 220px;
			margin: 0 0 20px;
		}
	}

	& .page-content {
		box-sizing: border-box;
		padding: 0 60px;

		@media (--screen-mobile) {
			padding: 0;
		}

		& p {
			max-width: 380px;
			margin: auto;
		}
	}

	& #searchform {
		@apply --search-form;
		border-top: solid 1px var(--light-gray);
		margin-top: 20px;

		& label {
			margin-bottom: 25px;
		}
	}
}

.archive {
	& .not-found {
		&.none {
			margin-top: 20px;
			padding: 0;
		}
	}
}