.container {
	@apply --maxWidth;
	clear: both;
	overflow: hidden;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	min-height: 100%;

	@media (--screen-mobile) {
		display: block;
	}
}

.documentation {
	display: flex;
	clear: both;
	width: 100%;
	min-height: 100%;

	@media (--screen-mobile) {
		width: 100%;
	}

	& .site-content {
		width: 70%;
		flex: 70%;
		max-width: 70%;
		box-sizing: border-box;
		padding-right: 40px;
		padding-left: 40px;

		@media (--screen-desktop) {
			padding-right: 20px;
			padding-left: 20px;
		}

		@media (--screen-phablet) {
			max-width: 100%;
			width: 100%;
		}
	}

	& .side-navigation {
		width: 30%;
		flex: 30%;
		max-width: 30%;
		border-right: solid 1px var(--light-gray);
		position: relative;

		@media (--screen-phablet) {
			display: none;
		}

		& nav {
			position: fixed;
			width: 30%;
			height: 100%;
			overflow-y: auto;
			box-sizing: border-box;
			padding: 40px;
			transition: all 1s ease;
			top: var(--push-top-desktop);

			@media (--screen-tablet) {
				top: var(--push-top-tablet);
			}

			&.scrolled {
				top: 80px;
			}

			& .search-form {
				position: absolute;
				top: 0;
				left: 0;
				width: calc(100% - 1px);

				& .inner-content {
					& input {
						&[type='text'] {
							background: url('./img/search.svg') no-repeat 40px center / 16px;
							position: absolute;
							width: 100%;
							border-radius: 0;
							border: none;
							border-bottom: solid 1px var(--light-gray);
							padding: 30px 40px 30px 70px;
						}

						&[type='submit'] {
							position: absolute;
							right: 14px;
							top: 14px;
						}
					}
				}
			}

			& h6 {
				display: inline-block;
				font-size: var(--default-font-size);
				margin: 80px 0 40px 0;
			}

			& a {
				width: 100%;
				display: inline-block;
				color: var(--medium-gray);
				line-height: 2;

				&:hover {
					color: var(--primary-color);
				}
			}
		}
	}
}

.site-content {
	width: 70%;
	flex: 70%;
	box-sizing: border-box;
	padding-bottom: 40px;
	padding-right: 40px;

	@media (--screen-phablet) {
		width: 100%;
		max-width: 100%;
		padding-bottom: 10px;
		padding-right: 0;
	}

	& .post-info {
		& span {
			display: inline-block;
			vertical-align: middle;
		}

		& .date {
			clear: both;
		}

		& .author {
			text-transform: uppercase;
			font-weight: 500;

			&:before {
				content: '-';
			}

			&:after {
				content: '-';
			}
		}
	}

	& .center {
		text-align: center;
	}

	& .fixed {
		max-width: 900px;
		margin: auto;
	}

	& h1, & h2, & h3 {
		font-weight: 100;
		color: var(--medium-gray);

		&[data-aos="fade-up-slow"] {
			transition: all 1s ease;
			transition-delay: .3s;
			transform: translateY(60px);
			opacity: 1;
		}

		&.aos-animate {
			transform: translateY(0);
		}

		&.page-title {
			padding-bottom: 40px;
			margin-bottom: 0;
			border-bottom: solid 1px var(--light-gray);

			@media (--screen-mobile) {
				padding-bottom: 20px;
			}
		}
	}

	& p {
		color: var(--medium-gray);

		& strong {
			color: var(--dark-blue);
		}
	}

	& img {
		max-width: 100%;
	}

	& .button {
		@apply --button;

		&.mt-20 {
			margin-top: 20px;
		}

		&.mb-20 {
			margin-bottom: 20px;
		}

		&.m-20 {
			margin: 20px;
		}
	}

	&.front-page {
		& h1 {
			@media (--screen-mobile) {
				font-size: var(--h2-font-size-mobile);
			}
		}
	}

	&.single {
		& h1, & h2, & h3 {
			font-weight: 800;
			color: var(--dark-blue);
			text-transform: uppercase;
		}
	}

	& iframe {
		width: 100%;
		height: 630px;

		@media (--screen-mobile) {
			height: 315px;
		}
	}

	& .codecolorer-container.solarized-dark, & .codecolorer-container {
		width: 100% !important;
		max-width: 100% !important;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 20px;
		overflow: hidden;
		border: none;

		& a {
			&:hover {
				color: color(var(--primary-color) lightness(40%));
			}
		}
	}

	& .heateor_sss_sharing_container {
		margin: 0;

		& i {
			transition: all .3s ease;
			opacity: 1;
			margin-right: 10px;

			&:hover {
				opacity: .5;
			}
		}
	}
}