.site-content {
	@apply --maxWidth;
	clear: both;
	overflow: hidden;

	& .center {
		text-align: center;
	}

	& .fixed {
		max-width: 900px;
		margin: auto;
	}

	& h1, & h2, & h3 {
		font-weight: 100;
		color: var(--medium-gray);

		&[data-aos="fade-up-slow"] {
			transition: all 1s ease;
			transition-delay: .3s;
			transform: translateY(60px);
			opacity: 1;
		}

		&.aos-animate {
			transform: translateY(0);
		}
	}

	&.front-page {
		& h1 {
			@media (--screen-mobile) {
				font-size: var(--h2-font-size-mobile);
			}
		}
	}

	&.single {
		& h1, & h2, & h3 {
			font-weight: 800;
			color: var(--dark-blue);
			text-transform: uppercase;
		}
	}

	& .codecolorer-container.solarized-dark, & .codecolorer-container {
		width: 100% !important;
		max-width: 100% !important;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 20px;
		overflow: hidden;
		border: none;
	}
}