.site-content {
	@apply --maxWidth;

	& .tech {
		& ul {
			@apply --noList;
			text-align: center;
			padding: 60px 0;

			@media (--screen-mobile) {
				padding: 20px 0;
			}

			& li {
				display: inline-block;
				margin: 0 20px;

				@media (--screen-mobile) {
					margin: 20px 0;
					width: 100%;
				}

				&[data-aos='flying-icons'] {
					transition: all 1s ease;
					transform: translateY(60px);
					opacity: 0;
				}

				&.aos-animate {
					transform: translateY(0);
					opacity: 1;
				}

				&:nth-child(1) {
					&[data-aos='flying-icons'] {
						transition-delay: .5s;
					}
				}

				&:nth-child(2) {
					&[data-aos='flying-icons'] {
						transition-delay: .7s;
					}
				}
			}
		}
	}

	& .center {
		text-align: center;
	}

	& .fixed {
		max-width: 900px;
		margin: auto;
	}

	& h1, & h2, & h3 {
		font-weight: 100;
		color: var(--medium-gray);

		&[data-aos="fade-up-slow"] {
			transition: all 1s ease;
			transition-delay: .3s;
			transform: translateY(60px);
			opacity: 1;
		}

		&.aos-animate {
			transform: translateY(0);
		}
	}

	&.front-page {
		& h1 {
			@media (--screen-mobile) {
				font-size: var(--h2-font-size-mobile);
			}
		}
	}
}