.woocommerce {
	& .edit-my-account {
		& fieldset {
			border: solid 1px var(--light-gray);
			border-radius: 5px;
			box-sizing: border-box;
			padding: 15px 20px;
			margin: 20px 0 0;

			@media (--screen-mobile) {
				margin-top: 10px;
			}

			& legend {
				font-family: var(--font-bold);
				box-sizing: border-box;
				padding: 10px 20px;
				background: var(--secondary-color);
				border-radius: 15px;
				color: var(--white);
				text-transform: capitalize;
			}
		}
	}

	& input[type='submit'] {
		margin-top: 20px;
	}
}