.woocommerce {
	& .lost_reset_password {
		max-width: 1024px;
		margin: auto;

		& .intro {
			margin: 10px 0;
		}

		& .secure-icon, & section {
			width: 50%;
			float: left;

			@media (--screen-mobile) {
				width: 100%;
			}

			& img {
				@media (--screen-mobile) {
					margin: 10px 0;
				}
			}
		}

		& section {
			margin: 40px 0;
			padding-left: 20px;
			box-sizing: border-box;

			@media (--screen-mobile) {
				margin: 0;
				padding-left: 0;
			}
		}

		& .woocommerce-form-row {
			margin-bottom: 10px;
			display: inline-block;
			width: 100%;
			margin: 0;

			&.button {
				width: 100%;

				& input {
					margin-top: 10px;
				}
			}
		}
	}
}

.woocommerce-password-strength {
	margin-top: 10px;
	font-size: var(--small-font-size);
	box-sizing: border-box;
	padding: 10px;
}

.woocommerce-password-hint {
	margin: 10px 0;
	color: var(--medium-gray);
}