.woocommerce {
	& .my-woocommerce-order {
		& ul.woocommerce-order-overview {
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			border: solid 1px var(--light-gray);
			border-radius: 5px;

			& li {
				border-right: solid 1px var(--light-gray);
				box-sizing: border-box;
				padding: 20px;
				margin: 0;
				
				@media (--screen-mobile) {
					width: 100%;
					border-bottom: solid 1px var(--light-gray);

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}

		& .thumb-icon {
			text-align: center;

			& img {
				filter: drop-shadow(0 0 25px color(var(--black) alpha(-85%)));
				margin: 40px 0;

				@media (--screen-mobile) {
					max-width: 220px;
					margin: 10px 0 20px;
				}
			}
		}

		p.intro {
			width: 50%;
			float: right;
			margin: 40px 0;
			display: inline-block;
		}
	}

	& .my-order-failer {
		display: flex;

		@media (--screen-mobile) {
			display: block;
		}

		& .icon {
			text-align: center;
			padding-right: 20px;

			@media (--screen-mobile) {
				padding-right: 0;
			}

			& img {
				filter: drop-shadow(0 0 25px color(var(--black) alpha(-85%)));
				margin: 40px 0;

				@media (--screen-mobile) {
					max-width: 320px;
					margin: 20px 0;
				}
			}
		}

		& section {
			width: 50%;
			margin: auto;

			@media (--screen-mobile) {
				width: 100%;
			}
		}
	}
}