.woocommerce .woo-grid {
	& article {
		position: relative;

		& a {
			& img {
				margin: 0 0 -3px 0;
				padding: 0;
				width: 100%;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&:hover {
				& h2 {
					box-shadow: 0 5px 45px 0 color(var(--black) alpha(-90%));

					&:before {
						width: 100%;
					}
				}

				& span.price {
					color: var(--secondary-color);
				}
			}

			& .star-rating {
				position: absolute;
				bottom: 85px;
				right: 30px;
				margin: 0;
				display: none;
			}

			& h2 {
				font-size: var(--default-font-size);
				line-height: var(--default-line-height);
				font-family: var(--font-medium);
				border: solid 1px;
				border-top: none;
				border-color: var(--light-gray);
				margin: 0;
				color: var(--black);
				box-sizing: border-box;
				padding: 30px;
				display: inline-block;
				text-transform: uppercase;
				width: 100%;
				position: relative;
				transition: all 0.3s ease;

				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 100%;
					background: color(var(--primary-color) alpha(-90%));
					top: 0;
					left: 0;
					transition: all 0.3s ease;
				}
			}

			& span.price {
				font-family: var(--font-roman);
				font-size: var(--default-font-size);
				color: var(--black);
				display: block;
				box-sizing: border-box;
				width: 100%;
				border: solid 1px;
				border-top: none;
				border-bottom: none;
				border-color: var(--light-gray);
				padding: 20px 30px;
				transition: all 0.3s ease;
				text-decoration: none;

				& del {
					padding-right: 10px;
					color: var(--medium-gray);
				}
			}

			&.button.woo-cart {
				@apply --button;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				width: 100%;
				padding: 20px 30px;

				&:after {
					position: static;
					margin-left: 5px;
					font-family: WooCommerce;
					content: '';
					display: inline-block;
				}

				&.loading {
					opacity: 0.7;
					background: var(--primary-color);

					&:after {
						content: '\e01c';
						animation: flipLoading 1s infinite;
						animation-fill-mode: forwards;
					}
				}

				&.added {
					&:after {
						content: '\e017';
					}
				}
			}
		}

		&:last-child {
			& a.added_to_cart {
				@media (--screen-mobile) {
					bottom: 144px;
				}
			}
		}
	}

	& a.added_to_cart {
		position: absolute;
		right: 40px;
		bottom: 154px;
		padding: 0;
	}

	& .products .star-rating {
		margin: 0;
	}

	& div.product span.price {
		font-family: var(--font-roman);
		font-size: var(--default-font-size);
		color: var(--black);
		display: block;
		box-sizing: border-box;
		width: 100%;
		border: solid 1px;
		border-top: none;
		border-bottom: none;
		border-color: var(--light-gray);
		padding: 20px 30px;
		transition: all 0.3s ease;
		text-decoration: none;

		& del {
			padding-right: 10px;
			color: var(--medium-gray);
		}

		& ins {
			text-decoration: none;
		}
	}
}

.woocommerce span.onsale {
	top: 20px;
	left: 20px;
	text-transform: uppercase;
	font-family: var(--font-bold);
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
	background-color: var(--white);
	color: var(--black);
	border: solid 1px var(--light-gray);
}

@keyframes flipLoading {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}