.woocommerce {
	& .secure-icon {
		width: 100%;
		text-align: center;

		& img {
			filter: drop-shadow(0 0 25px color(var(--black) alpha(-85%)));
			margin: 40px 0;

			@media (--screen-mobile) {
				max-width: 220px;
				margin: 10px 0;
			}
		}
	}

	& form.login {
		border: none;
		margin: auto;
		padding: 0;

		&.single {
			max-width: 640px;
		}

		& label {
			margin: 10px 0;
			padding: 0;
			line-height: 1;
		}

		& input.button {
			@apply --button;
			width: 100%;
			margin: 10px 0;
		}

		& p {
			margin: 0;
			padding: 0;
		}

		& div.additional {
			width: 100%;
			overflow: hidden;
			margin: 10px 0 0;

			& label {
				width: auto;
				float: left;
				margin: 0;
				white-space: normal;
			}

			& input {
				margin-right: 5px;
				vertical-align: bottom;
			}

			& p.woocommerce-LostPassword.lost_password {
				float: right;
			}
		}
	}
}