.woocommerce {
	& #content div.product {
		margin: 0;

		& form.cart {
			margin-bottom: 25px;

			& .woocommerce-variation-price {
				margin-bottom: 20px;
			}

			& .variations {
				margin-bottom: 20px;

				& select {
					min-width: 0;
				}
			}
		}

		& .remove {
			color: var(--secondary-color) !important;
			line-height: 0.8;
			padding: 5px;
			position: absolute;
			top: 10px;
			right: 10px;
			background: var(--primary-color);
			color: var(--white) !important;
			cursor: pointer;

			&:hover {
				background: var(--secondary-color);
			}
		}

		& div.images {
			float: left;
			width: 50%;

			@media (--screen-desktop) {
				padding-bottom: 10px;
				width: 100%;
				margin-bottom: 10px;
				border-bottom: solid 1px var(--light-gray);
			}

			& figure {
				padding: 0;
				margin: 0;
			}
		}

		& div.summary {
			float: right;
			width: 50%;
			box-sizing: border-box;
			padding: 0 0 0 30px;
			margin: 0 0 20px;

			@media (--screen-desktop) {
				float: none;
				padding: 0;
				width: 100%;
			}

			& .woocommerce-product-details__short-description {
				color: var(--black);

			}

			& .price.single{
				margin-bottom: 20px;

				& ins {
					font-weight: normal;
					font-family: var(--font-roman);
					text-decoration: none;
					margin-left: 5px;
				}
			}

			& .quantity {
				@media (--screen-mobile) {
					width: calc(50% - 10px);
					margin-right: 20px;

					& input {
						width: 100%;
					}
				}
			}

			& .single_add_to_cart_button {
				@media (--screen-mobile) {
					width: calc(50% - 10px);
				}
			}
		}

		& .woocommerce-product-rating {
			margin-bottom: 20px;
		}

		& .product_title {
			color: var(--black);
			font-family: var(--font-bold);
			font-weight: bold;
			font-size: var(--h1-font-size);
			border-top: solid 1px var(--light-gray);
			border-bottom: solid 1px var(--light-gray);
			box-sizing: border-box;
			padding: 20px 0;
			margin: 0 0 20px;

			& a {
				color: var(--black);
			}
		}

		& p.price.single, & div.product span.price.single, & div.product span.price {
			color: var(--black);
			font-family: var(--font-roman);
			font-weight: normal;
			text-decoration: none;
		}

		& .woocommerce-tabs {
			clear: none;
			float: left;
			width: 50%;
			box-sizing: border-box;
			padding: 0 0 0 30px;

			@media (--screen-desktop) {
				padding: 0;
				width: 100%;
			}

			& ul.tabs {
				margin: 0;
				padding: 0;
				border: solid 1px var(--light-gray);
				border-radius: 5px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				overflow: hidden;
				display: flex;

				&:before, &:after {
					border: none;
				}

				& li {
					background: var(--white);
					border-color: var(--light-gray);
					border-top: none;
					border-bottom: none;
					border-left: none;
					color: var(--black);
					box-sizing: border-box;
					text-transform: uppercase;
					border-radius: 0;
					margin: auto;
					padding: 0;
					float: left;
					transition: all 0.3s ease;
					display: flex;
					flex: 1;
					text-align: center;
					max-width: 50%;
					overflow: hidden;

					&:only-child {
						max-width: 100%;
					}

					&#tab-title-reviews, &#tab-title-additional_information, &#tab-title-description {
						position: relative;
						word-break: keep-all;
						text-overflow: ellipsis;
						white-space: nowrap;

						&:after {
							content: '';
							background: url('img/star.svg') no-repeat center center / 20px;
							width: 20px;
							height: 20px;
							display: inline-block;
							position: absolute;
							border: none;
							left: 20px;
							top: 50%;
							transform: translateY(-50%);
							box-shadow: none;
							pointer-events: none;
						}
					}

					&#tab-title-additional_information {
						&:after {
							background: url('img/info.svg') no-repeat center center / 20px;
						}
					}

					&#tab-title-description {
						&:after {
							background: url('img/description.svg') no-repeat center center / 20px;
						}
					}

					&:hover {
						background: color(var(--primary-color) alpha(-90%));
					}

					&:last-child {
						border-right: none;
					}

					& a {
						box-sizing: border-box;
						padding: 20px 30px;
						color: var(--black);
						margin: auto;
						vertical-align: middle;
						line-height: 1.4;
						width: 100%;
						text-overflow: ellipsis;
						overflow: hidden;
						padding-left: 60px;
						text-align: left;

						@media (--screen-mobile) {
							padding-left: 60px;
						}
					}

					&:before, &:after {
						content: none;
						display: none;
					}

					&.active {
						background: color(var(--primary-color) alpha(-90%));
						border-color: var(--light-gray);

						&:before, &:after {
							content: none;
							display: none;border-color: var(--primary-color);
						}
					}
				}
			}

			& .panel {
				border: solid 1px var(--light-gray);
				border-top: none;
				border-radius: 5px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				overflow: hidden;
				clear: both;
				margin: 0 0 10px 0;

				& table.shop_attributes {
					border: none;
					margin: 0;
					padding: 0;
					border-collapse: collapse;

					& tr {
						& th {
							text-align: left;
							width: 90px;
							color: var(--black);
							font-family: var(--font-roman);
							font-weight: normal;
						}

						& td {
							font-style: normal;
							color: var(--medium-gray);
						}

						& th, & td {
							border-bottom: solid 1px var(--light-gray);
							padding: 20px;
						}

						&:nth-child(even) {
							& td, & th {
								background: var(--white);
							}
						}

						&:last-child {
							& th, & td {
								border-bottom: none;
							}
						}
					}
				}

				& .woocommerce-Reviews {
					box-sizing: border-box;
					padding: 20px;
					font-family: var(--font-roman);

					& .woocommerce-noreviews {
						box-sizing: border-box;
						padding: 0 0 20px 0;
						margin: 0 0 20px 0;
						border-bottom: solid 1px var(--light-gray);
						color: var(--medium-gray);
					}

					& #review_form #respond {
						& .comment-reply-title {
							box-sizing: border-box;
							padding: 0 0 20px 0;
							margin: 0 0 20px 0;
							border-bottom: solid 1px var(--light-gray);
							color: var(--black);
							display: block;
							width: 100%;
						}
					}

					& .comment-form-rating {
						& label {
							float: left;
							margin-right: 10px;
						}
					}

					& .comment-form-comment {
						float: none;
						clear: both;
						width: 100%;

						& label {
							display: block;
							width: 100%;
							border-top: solid 1px var(--light-gray);
							padding-top: 20px;
							margin-top: 20px;
							padding-bottom: 20px;
						}
					}

					& p.stars a {
						padding-right: 5px;
					}

					&#reviews {
						& #respond input#submit {
							@apply --button;
							margin: 5px 0 0 0;
						}

						& #comments ol.commentlist {
							padding: 0;
							margin: 20px 0 0 0;

							& img.avatar {
								border-radius: 100%;
								border: none;
								background: transparent;
								padding: 0;
								margin: 0;
							}

							& .star-rating {
								letter-spacing: 5px;
								width: 6.8em;
							}

							& li {
								& .comment-text p.meta {
									color: var(--black);
									font-size: var(--default-font-size);
									line-height: var(--default-line-height);
									border-bottom: solid 1px var(--light-gray);
									padding-bottom: 15px;
									margin-bottom: 15px;

									& .woocommerce-review__author {
										font-weight: bold;
										text-transform: uppercase;
										font-family: var(--font-medium);
									}
								}
							}
						}
					}

					& #review_form #respond p {
						padding: 0;
						margin: 0 0 0 0;

						&.comment-notes {
							margin-bottom: 20px;
						}

						&.comment-form-author, &.comment-form-email, &.form-submit {
							width: 50%;
							box-sizing: border-box;
							float: left;

							& input[type='email'], & input[type='text'] {
								width: 100%;
							}

							& label {
								padding-bottom: 20px;
								display: inline-block;
							}
						}

						&.comment-form-comment {
							margin-bottom: 10px;
						}

						&.comment-form-author {
							padding-right: 10px;
						}

						&.comment-form-email {
							padding-left: 10px;
						}

						&.form-submit {
							width: 100%;

							& input[type='submit'] {
								float: right;

								@media (--screen-mobile) {
									width: 100%;
								}
							}
						}
					}
				}

				& .woo-description {
					box-sizing: border-box;
					padding: 10px 0;

					& p {
						box-sizing: border-box;
						padding: 10px 20px;
						margin: 0;
						color: var(--medium-gray);
					}
				}
			}
		}

		& .quantity .qty {
			margin-right: 15px;
			width: auto;
		}

		& div.images {
			& .woocommerce-product-gallery__image:nth-child(1) {
				padding-bottom: 10px;
			}

			& .woocommerce-product-gallery__image:nth-child(n+2) {
				padding: 10px;
			}

			& .woocommerce-product-gallery__image:nth-child(2) {
				padding-left: 0;
			}
		}
	}

	& .woocommerce-verification-required {
		margin-bottom: 0;
	}

	& .up-sells {
		clear: both;
		overflow: hidden;
		margin-bottom: -10px;
	}
}