.woocommerce {
	& .location-icon {
		width: 100%;
		text-align: center;
		padding-right: 20px;

		& img {
			filter: drop-shadow(0 0 25px color(var(--black) alpha(-85%)));
			margin: 40px 0;
			display: inline-block;

			@media (--screen-phablet) {
				max-width: 220px;
			}

			@media (--screen-mobile) {
				margin: 20px 0 0;
			}
		}
	}

	& .intro-my-addresses {
		border-bottom: solid 1px var(--light-gray);
		padding-bottom: 20px;
		margin: 0;
	}

	& .my-addresses {
		display: flex;
		flex-wrap: wrap;

		@media (--screen-mobile) {
			display: block;
		}

		& > p {
			border-bottom: solid 1px var(--light-gray);
		}

		& div.woocommerce-Address {
			flex: 50%;
			max-width: 50%;
			box-sizing: border-box;

			&:nth-child(odd) {
				padding-right: 10px;

				@media (--screen-mobile) {
					padding-right: 0;
				}
			}

			&:nth-child(even) {
				padding-left: 10px;

				@media (--screen-mobile) {
					padding-left: 0;
				}
			}

			@media (--screen-mobile) {
				max-width: 100%;
				width: 100%;
			}

			& header.title {
				& a {
					flex: right;
					display: inline-block;
					box-sizing: border-box;
					font-size: var(--default-font-size);
					padding: 20px 0;
				}
			}
		}
	}

	& .woocommerce-address-fields {
		& input[type='submit'] {
			margin: 10px 0 0;
		}
	}

	& .woocommerce-customer-details {
		margin: 0;
	}

	& .woocommerce-customer-details p.woocommerce-customer-details--phone, & p.woocommerce-customer-details--phone, 
	& .woocommerce-customer-details p.woocommerce-customer-details--email, & p.woocommerce-customer-details--email {
		font-size: var(--default-font-size);
		line-height: var(--default-line-height);
		vertical-align: middle;
		border-top: solid 1px var(--light-gray);
		padding-top: 20px;
		margin-top: 20px;

		& a {
			color: var(--dark-gray);
			font-size: var(--default-font-size);
			line-height: var(--default-line-height);
			vertical-align: middle;
			padding-top: 20px;
			margin-top: 20px;
			font-family: var(--font-medium);
		}

		&:before {
			vertical-align: middle;
			position: static;
			margin-right: 5px;
			content: '';
			display: inline-block;
			width: 22px;
			height: 22px;
			background: url('img/phone-smaller.svg') no-repeat center center / 16px;
		}
	}

	& .woocommerce-customer-details p.woocommerce-customer-details--email, & p.woocommerce-customer-details--email {
		&:before {
			background: url('img/mail-smaller.svg') no-repeat center center / 18px;
			vertical-align: top;
		}
	}

	& .woocommerce-customer-details address, & .my-addresses address {
		font-style: normal;
		border: dashed 1px var(--secondary-color);
		border-radius: 5px;
		background: color(var(--secondary-color) alpha(-90%));
		box-sizing: border-box;
		padding: 20px;
		font-size: var(--default-font-size);
		line-height: var(--default-line-height);
		color: var(--dark-gray);
	}
}