.woocommerce {
	& .woocommerce-breadcrumb {
		font-family: var(--font-medium);
		color: var(--black);
		margin: 60px 0;

		@media (--screen-tablet) {
			margin: 30px 0;
		}

		& a {
			font-family: var(--font-roman);
			font-weight: normal;
			color: var(--primary-color);

			&:hover {
				color: var(--secondary-color);
			}
		}

		& i {
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 100%;
			background: var(--secondary-color);
			margin: 0 10px;
			vertical-align: middle;
		}
	}

	& .woocommerce-products-header {
		& h1 {
			font-family: var(--font-bold);
			font-size: var(--bigger-font-size);
			font-weight: 900;
		}
	}

	& .woocommerce-products-header {
		margin: 20px 0;

		@media (--screen-mobile) {
			margin: 10px 0;
		}
	}

	& .woocommerce-result-count {
		color: var(--medium-gray);
		margin: 15px 0;
	}

	& #respond input#submit.alt, & a.button.alt, & button.button.alt, & input.button.alt, & a.button, & input.button, & button.button {
		@apply --button;
	}

	& .star-rating {
		letter-spacing: 5px;
		width: 6.8em;

		& span::before {
			color: var(--primary-color);
		}
	}

	& .woocommerce-ordering {
		margin-top: 5px;

		@media (--screen-mobile) {
			float: none;
			width: 100%;

			& select {
				width: 100%;
			}
		}
	}

	& table.my_account_orders {
		font-size: var(--default-font-size);
	}

	& table.shop_table {
		margin: 0;
	}
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	border-top-color: var(--primary-color);
	margin: 0;
	box-sizing: border-box;
	padding: 20px 20px 20px 60px;
	margin-bottom: 20px;
	text-align: left;

	&:before {
		font-size: var(--default-font-size);
		color: var(--secondary-color);
		top: 20px;
	}

	& a {
		margin: 0;
	}

	& li {
		margin: 10px 0;

		&:first-child {
			margin: 0;
		}

		&:last-child {
			margin: 0;
		}
	}

}

address {
	font-style: normal;
	border: dashed 1px var(--secondary-color);
	border-radius: 5px;
	background: color(var(--secondary-color) alpha(-90%));
	box-sizing: border-box;
	padding: 20px;
	font-size: var(--default-font-size);
	line-height: var(--default-line-height);
	color: var(--dark-gray);
}

span.woocommerce-Price-currencySymbol {	
	padding-left: 5px;
	opacity: 0.5;
	font-family: var(--font-roman);
	font-weight: normal;
}

span.woocommerce-Price-amount {
	font-weight: normal;
	font-family: var(--font-medium);
	font-weight: bold;
}