.woocommerce {
	& .woocommerce-cart-form {
		& table {
			max-width: 1024px;
			margin: auto;
			border: none;

			&.shop_table {
				border-color: var(--light-gray);

				& th, & td {
					&.product-remove {
						width: 20px;
						box-sizing: border-box;

						@media (--screen-mobile) {
							padding: 5px 10px;
							width: 100%;
							background: color(var(--light-gray) alpha(-70%));
						}

						& a.remove {
							color: var(--secondary-color) !important;
							line-height: 0.8;
							padding: 5px;

							&:hover {
								background: var(--primary-color);
								color: var(--white) !important;
							}
						}
					}

					&.product-thumbnail {
						width: 20%;
						padding: 0;

						& img {
							width: 100%;
							box-sizing: border-box;
							margin: 20px 0;
						}
					}

					&.product-name {
						& a {
							font-family: var(--font-bold);
							font-weight: bold;
						}
					}
				}

				&.cart td.actions {
					padding: 20px;
					background: color(var(--secondary-color) alpha(-90%));

					& input.button {
						@apply --button;

						@media (--screen-mobile) {
							width: 100%;
							margin-bottom: 0;
						}
					}

					& .coupon {
						padding: 0;

						& input.button {
							@media (--screen-mobile) {
								margin-bottom: 20px;
							}
						}

						& input[type='text'] {
							@apply --input-type;
							width: 200px;
							margin-right: 20px;

							@media (--screen-mobile) {
								width: 100%;
								margin-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}

	& .cart-collaterals {
		max-width: 1024px;
		margin: auto;

		& .cart_totals {
			width: 100%;
		}

		& .cross-sells {
			width: 100%;

			& > h2 {
				margin: 20px 0 10px;
			}

			& div.grid {
				margin-bottom: -10px;

				@media (--screen-mobile) {
					margin-bottom: 20px; 
				}
			}
		}
	}

	& table {
		&.shop_table {
			& th, & td {
				padding: 20px;
			}

			& th, & strong {
				font-family: var(--font-heavy);
			}

			& strong {
				color: var(--primary-color);
			}

			& form.woocommerce-shipping-calculator {
				& select {
					margin: 0;
				}

				& p {
					margin: 10px 0;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
				
				& p#calc_shipping_state_field {
					margin-bottom: 0;
				}

				& p#calc_shipping_postcode_field {
					margin-top: 0;
				}
			}
		}
	}

	& .wc-proceed-to-checkout {
		padding: 20px 0 0;
	}
	
	& .cart-collaterals .cart_totals table {
		margin: 0;
	}
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
	background: none;
}

.empty-cart {
	& .single-title {
		display: none;
	}

	& .woocommerce {
		text-align: center;

		& .cart-empty {
			box-sizing: border-box;
			padding: 0;
			margin: 20px 0 0 0;
		}
	}
}

.woocommerce {
	& .cart-icon {
		width: 100%;
		text-align: center;

		& img {
			margin: 20px 0 20px;
			filter: drop-shadow(0 0 25px color(var(--black) alpha(-85%)));
		}
	}
}