.site-content.account-page {
	margin: 20px 0 0 0;
}

article.account-page {
	margin: auto;

	& .woocommerce-MyAccount-content {
		width: 100%;
		max-width: 1024px;
		margin: auto;
		float: none;

		& .dashboard {
			display: flex;

			@media (--screen-mobile) {
				display: block;
			}
		}

		& main {
			width: 100%;
			display: flex;

			@media (--screen-phablet) {
				display: block;
			}

			& div {
				flex: 50%;
				width: 50%;
				box-sizing: border-box;
				border-radius: 5px;
				border: solid 1px var(--light-gray);
				position: relative;
				min-height: 200px;
				margin: 0 10px;
				background: color(var(--primary-color) alpha(-95%));

				@media (--screen-phablet) {
					width: 100%;
					margin: 20px 0;

					&:last-child {
						margin-bottom: 0;
					}
				}

				& img {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 20px;

					@media (--screen-phablet) {
						max-width: 100px;
					}
				}

				& a {
					background: var(--white);
					color: var(--black);
					border: solid 1px var(--light-gray);
					float: right;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 20px;

					&:hover {
						border-color: var(--secondary-color);
					}
				}
			}
		}
	}

	& div.user-icon {
		text-align: center;
		padding-right: 20px;

		& img {
			filter: drop-shadow(0 0 25px color(var(--black) alpha(-85%)));
			margin: 40px 0;

			@media (--screen-phablet) {
				max-width: 220px;
				margin: 20px 0 10px;
			}

			@media (--screen-mobile) {
				margin: 10px 0;
			}
		}
	}

	& .intro {
		margin: 40px 0;
		display: inline-block;

		& .name {
			text-transform: uppercase;
		}

		@media (--screen-phablet) {
			margin: 0;
		}

		& p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	& nav.my-navigation {
		& ul {
			margin: 0;
			padding: 0;
			display: flex;
			overflow: hidden;
			border: solid 1px var(--light-gray);
			border-radius: 5px;
			margin-bottom: 20px;

			@media (--screen-phablet) {
				display: block;
			}

			& li {
				padding: 0;
				margin: 0;
				display: inline-block;
				flex: 25%;
				max-width: 25%;
				text-align: left;
				display: flex;
				border-right: solid 1px var(--light-gray);

				@media (--screen-phablet) {
					max-width: 100%;
					width: 100%;
					border-right: none;
					border-bottom: solid 1px var(--light-gray);
				}

				&:last-child {
					border-right: none;

					@media (--screen-phablet) {
						border-bottom: none;
					}
				}

				& a {
					box-sizing: border-box;
					padding: 20px 10px 20px 70px;
					display: inline-block;
					width: 100%;
					transition: all 0.4s ease;
					position: relative;
					font-family: var(--font-medium);
					text-overflow: ellipsis;
					white-space: nowrap;
					background: color(var(--primary-color) alpha(-100%));

					&:hover {
						background: color(var(--primary-color) alpha(-95%));
					}

					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 20px;
						width: 32px;
						height: 32px;
						border-radius: 100%;
						border: solid 1px var(--light-gray);
					}
				}

				&:nth-child(1) {
					& a {
						&:before {
							background: url('img/my-dashboard.svg') no-repeat center center / 16px;
						}
					}
				}

				&:nth-child(2) {
					& a {
						&:before {
							background: url('img/my-orders.svg') no-repeat center center / 16px;
						}
					}
				}

				&:nth-child(3) {
					& a {
						&:before {
							background: url('img/my-address.svg') no-repeat center center / 16px;
						}
					}
				}

				&:nth-child(4) {
					& a {
						&:before {
							background: url('img/my-account.svg') no-repeat center center / 16px;
						}
					}
				}

				&:nth-child(5) {
					& a {
						&:before {
							background: url('img/my-door.svg') no-repeat center center / 16px;
						}
					}
				}
			}
		}
	}
}