.woocommerce form {
	& .form-row-first, & .form-row-last {
		width: calc(50% - 10px);
	}

	& .form-row {
		padding: 0;
		margin: 0;
		box-sizing: border-box;

		& label {
			font-size: var(--default-font-size);
		}

		@media (--screen-mobile) {
			width: 100%;
		}

		& input.input-text, & textarea {
			margin: 10px 0;
			line-height: var(--default-line-height);
		}

		& .input-checkbox {
			display: inline-block;
		}
	}

	& .select2-container--default .select2-selection--single {
		padding: 10px;
		border-radius: 0;
		height: auto;
		border-color: var(--light-gray);
		min-height: 53px;
		margin: 10px 0;
	}

	& .select2-container--default .select2-search--dropdown .select2-search__field {
		border: none;
		position: relative;
		top: -8px;
		padding: 7px 15px;
	}

	& .select2-search--dropdown {
		border-bottom: solid 1px var(--light-gray);
		padding: 0;
	}

	& .select2-container .select2-selection--single .select2-selection__rendered {
		padding: 0 5px;
		font-size: var(--default-font-size);
	}

	& .select2-container--default .select2-selection--single .select2-selection__arrow b {
		border: none;
		background: url('img/arrow.svg') no-repeat #FFFFFF;
		width: 20px;
		height: 20px;
		top: 33px;
		left: -5px;
	}

	& .checkout_coupon {
		padding-bottom: 0;

		& input {
			margin-top: 0 !important;
		}
	}

	& h3 {
		&#ship-to-different-address {
			margin: 18px 0;

			& label {
				color: var(--black);
			}

			& span {
				vertical-align: text-top;
			}

			& input {
				margin-right: 5px;
			}
		}
	}

	& .quantity .qty {
		margin-right: 15px;
		width: auto;

		@media (--screen-mobile) {
			margin: 20px 0 0;
			width: 100%;
		}
	}

	& #payment, & .woocommerce-checkout-review-order #payment {
		background: color(var(--light-gray) alpha(-70%));

		& #place_order {
			margin: 0;
		}

		& ul.wc_payment_methods {
			padding: 20px;
			margin-top: 20px;
			border-bottom: solid 1px var(--light-gray);

			& li.wc_payment_method {
				& label {
					width: 100%;
					color: transparent;

					& a {
						line-height: 2;
					}

					& img {
						margin-top: 5px;
						position: relative;
						transform: translateX(-50px);
						display: inline-block;
						margin: 0 0 20px;
					}
				}

				& div.payment_box {
					box-sizing: border-box;
					padding: 20px;
					margin: 0;
					background: var(--secondary-color);
					color: var(--white);

					&:before {
						border: 1em solid var(--secondary-color);
						border-right-color: transparent;
						border-left-color: transparent;
						border-top-color: transparent;
					}

					& p {
						margin: 0;
						padding: 0;
					}
				}
			}
		}

		& .form-row {
			padding: 20px;
		}
	}

	&.checkout_coupon {
		box-sizing: border-box;
		padding: 20px;
		margin: 0 0 10px;
		border-radius: 0;
		border: solid 1px var(--light-gray);

		@media (--screen-mobile) {
			padding: 10px 20px;
			margin-bottom: 20px;
		}

		& input {
			margin: 10px 0;
			width: 100%;

			&[type="submit"] {
				@apply --button-smaller;
			}
		}
	}

	& table.shop_table {
		border: solid 1px var(--light-gray);

		& th, & td {
			padding: 20px;
		}

		& tfoot th, & tbody th, & th, & strong {
			font-family: var(--font-heavy);
		}

		& strong {
			color: var(--primary-color);
		}
	}

	& .create-account {
		margin-top: 10px;
	}

	& .woocommerce-billing-fields {

	}
}

.select2-dropdown {
	border-color: var(--light-gray);
	box-shadow: 0 10px 10px color(var(--black) alpha(-90%));

	& ul {
		& li {
			font-size: var(--default-font-size);
		}
	}
}

.checkout {
	& .woocommerce {
		& form.login {
			box-sizing: border-box;
			padding: 20px 0;

			& > p:first-child {
				font-size: var(--default-font-size);
				padding-bottom: 20px;
			}
		}
	}
}