.woocommerce nav.woocommerce-pagination {
	& ul.page-numbers {
		border: none;
		padding: 0;
		margin: 50px 0 0;

		@media (--screen-tablet) {
			margin: 10px 0 0;
		}

		@media (--screen-mobile) {
			margin: 20px 0 0;
		}

		& li {
			margin: 5px;
			display: inline-block;
			border: solid 1px var(--light-gray);
			border-radius: 5px;
			font-family: var(--font-roman);

			& span, & a {
				padding: 10px 15px;
			}

			& span {
				&.current {
					color: var(--black);
					font-weight: bold;
					background: transparent;
				}
			}

			& a {
				&:hover, &:active, &:focus {
					background: color(var(--primary-color) alpha(-90%));
					color: var(--secondary-color);
				}
			}
		}
	}
}