.woocommerce {
	& .order-again {
		margin: 20px 0 0;
	}

	& .woocommerce-order-details {
		margin: 0;
	}

	& table.woocommerce-orders-table {
		border-collapse: collapse;
		border-color: var(--light-gray);
		margin: 0;

		& tr {
			& td {
				border-color: var(--light-gray);

				&.woocommerce-orders-table__cell-order-status {
					background: var(--pending-color);
					font-weight: bold;
				}

				&.woocommerce-orders-table__cell-order-actions {
					display: flex;
					
					@media (--screen-mobile) {
						flex-wrap: wrap;
					}

					& a {
						@apply --button-smaller;
						margin: 0 10px 0 0;
						flex: 1;

						&:last-child {
							margin: 0;
						}

						@media (--screen-mobile) {
							width: 100%;
							flex: 100%;
							margin: 10px 0;

							&:first-child {
								margin: 20px 0 10px 0;
							}

							&:last-child {
								margin: 10px 0 0 0;
							}

							&:only-child {
								margin-top: 20px;
							}
						}
					}
				}

				&.woocommerce-orders-table__cell-order-number {
					& a {
						font-size: var(--default-font-size);
					}
				}
			}

			&.woocommerce-orders-table__row--status-completed {
				& td {
					&.woocommerce-orders-table__cell-order-status {
						background: color(var(--success-color) alpha(-90%));
					}
				}
			}

			&.woocommerce-orders-table__row--status-cancelled {
				& td {
					&.woocommerce-orders-table__cell-order-status {
						background: color(var(--error-color) alpha(-90%));
					}
				}
			}
		}
	}

	& .woocommerce-MyAccount-content {
		& .view-order {
			& p {
				&.order-head {
					& mark {
						background: transparent;
						font-weight: bold;
					}

					margin-bottom: 0;
					padding-bottom: 20px;
					border-bottom: solid 1px var(--light-gray);
				}
			}
		}

		& ol.woocommerce-OrderUpdates {
			overflow: hidden;
			padding: 0;
			margin: 0;

			& li.note {
				border: solid 1px var(--light-gray);
				border-radius: 5px;

				& p.meta {
					display: inline-block;
					position: relative;
					width: 100%;
					border-bottom: solid 1px var(--light-gray);
					font-weight: normal;
					color: var(--medium-gray);
					box-sizing: border-box;
					padding: 20px 20px 20px 70px;
					margin: 0;

					&:before {
						content: '';
						display: inline-block;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 20px;
						width: 32px;
						height: 32px;
						border-radius: 100%;
						background: url('img/mail.svg') no-repeat center center var(--primary-color) / 18px;
					}
				}
			}

			& li {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				& div.description {
					&  p {
						box-sizing: border-box;
						padding: 20px;
						margin: 0;
					}
				}
			}
		}
	}

	& .order-empty {
		& .cart-icon {
			& img {
				display: inline-block;

				@media (--screen-mobile) {
					margin: 20px 0 0 0;
				}
			}
		}
	}
}