// use this file for common design decisions 
// you can use bootstrap variables here. 

$site-bg-color: $gray-900;

$site-header-bg-color: $gray-400;
$site-header-text-color: $gray-900;

$site-nav-bg-color: $gray-200;
$site-nav-primary-color: $gray-900;

$site-footer-bg-color: $gray-900;
$site-footer-text-color: $gray-200;
$site-footer-link-color: $site-footer-text-color;