html, body {
	background: var(--white);
	color: var(--black);
	font-family: var(--font-text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

body {
	box-sizing: border-box;
	padding-top: var(--push-top-desktop);

	@media (--screen-tablet) {
		padding-top: var(--push-top-tablet);
	}

	@media (--screen-mobile) {
		padding-top: var(--push-top-mobile);
	}
}

* {
	outline: none;

	&::selection {
		color: var(--white);
		background: var(--medium-blue);
	}
}

a, button {
	text-decoration: none;
	transition: all .3s ease;
	color: var(--primary-color);

	&:hover {
		color: color-mod(var(--primary-color) lightness(40%));
	}
}

p {
	font-size: var(--default-font-size);
	line-height: var(--default-line-height);
}

h1, h2, h3 {
	box-sizing: border-box;
}

h1 {
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);

	@media (--screen-mobile) {
		font-size: var(--h1-font-size-mobile);
		line-height: var(--h1-line-height-mobile);
	}
}

h2 {
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);

	@media (--screen-mobile) {
		font-size: var(--h2-font-size-mobile);
		line-height: var(--h2-line-height-mobile);
	}
}

h3 {
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);

	@media (--screen-mobile) {
		font-size: var(--h3-font-size-mobile);
		line-height: var(--h3-line-height-mobile);
	}
}