.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--dark-blue);
	overflow: hidden;
	border-bottom: solid 1px var(--medium-blue);
	z-index: 100;
	transition: all 1s ease;
	height: 100vh;

	& .inner-content {
		@mixin maxWidth;
		position: relative;
		height: 100%;

		& .logo {
			display: inline-block;
			box-sizing: border-box;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: all 1s;
			transition-delay: 1s;
			width: 245px;
			height: 24px;
			z-index: 10;

			& img {
				display: flex;
				position: absolute;
				top: 0;
				left: 0;
				transition: all .5s ease;
				transform: translateY(0);
				opacity: 1;

				&.bright {
					transform: translateY(-300%);
					opacity: 0;
				}
			}
		}
	}

	&.loaded {
		height: var(--push-top-desktop);

		@media (--screen-tablet) {
			height: var(--push-top-tablet);
		}

		@media (--screen-mobile) {
			height: var(--push-top-mobile);
		}

		& .inner-content {
			& .logo {
				left: 0;
				transform: translate(0, -50%);

				@media (--screen-desktop) {
					left: 20px;
				}
			}
		}

		&.scrolled {
			background: var(--white);
			border-color: var(--light-gray);
			height: 80px;

			& .logo {
				& img {
					transform: translateY(300%);
					opacity: 0;

					&.bright {
						transform: translateY(0);
						opacity: 1;
					}
				}
			}
		}

		&.bright {
			background: var(--white);
			border-color: var(--light-gray);

			& .logo {
				& img {
					transform: translateY(300%);
					background: transparent;
					opacity: 0;

					&.bright {
						transform: translateY(0);
						opacity: 1;
					}
				}
			}
		}
	}
}

.reset-delay {
	transition-delay: 0s !important;
}

.edit-button {
	margin: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 46px;
	height: 46px;
	border-radius: 100%;
	text-indent: -9999px;
	background: url('./img/edit.svg') no-repeat center center / 16px var(--primary-color);
	z-index: 100;
	transform: scale(1.1);
	transition: all .3s ease;
	box-shadow: 0 5px 35px 0 color-mod(var(--black) alpha(30%));

	&:hover {
		box-shadow: 0 0 15px 0 color-mod(var(--black) alpha(20%));
		transform: scale(1);
	}

	& a {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
	}
}