@import './mixins.css';

@custom-media --screen-xs (min-width: 0);
@custom-media --screen-sm (min-width: 576px);
@custom-media --screen-md (min-width: 768px);
@custom-media --screen-lg (min-width: 992px);
@custom-media --screen-xl (min-width: 1200px);
@custom-media --screen-xxl (min-width: 1440px);
@custom-media --screen-xxxl (min-width: 1920px);

:root {

	/* Spacing ----------------------------------------------- */
	--max-width: 1440px;
	--padding-top-body-mobile: 70px;
	--padding-top-body-desktop: 0;
	--margin-container-mobile: 20px;
	--margin-container-desktop: 20px;
	--margin-row-mobile: -10px;
	--margin-row-desktop: -10px;
	--gutter-col-mobile: 10px;
	--gutter-col-desktop: 10px;

	/* Colors ----------------------------------------------------- */
	--color-primary: #1F2D3D;
	--color-secondary: #8492A6;
	--color-tertiary: #F9FAFC;

	--color-dark: #000;
	--color-light: #fff;

	--color-gray-light: #E5E5E5;
	--color-gray-medium: #666666;
	--color-gray-dark: #4a4a4a;

	--color-success: #28a745;
	--color-error: #dc3545;
	--color-warning: #ffc107;
	--color-info: #17a2b8;

	/* Fonts ------------------------------------------------------ */
	--font-text: 'Roboto', sans-serif;
	--font-head: var(--font-text);
	--font-special: var(--font-text);
	--font-mono: 'Roboto Mono', monospace;

	/* Font Sizes ------------------------------------------------- */
	/* --> Hero --------------------------------------------------- */
	--size-hero1-mobile: 52px;
	--lineheight-hero1-mobile: 1.35;
	--size-hero1-desktop: 62px;
	--lineheight-hero1-desktop: 1.15;

	--size-hero2-mobile: 42px;
	--lineheight-hero2-mobile: 1.35;
	--size-hero2-desktop: 52px;
	--lineheight-hero2-desktop: 1.15;

	--size-hero3-mobile: 32px;
	--lineheight-hero3-mobile: 1.35;
	--size-hero3-desktop: 42px;
	--lineheight-hero3-desktop: 1.15;

	/* --> Eyebrow ------------------------------------------------ */
	--size-eyebrow-mobile: 16px;
	--lineheight-eyebrow-mobile: 1.35;
	--size-eyebrow-desktop: 18px;
	--lineheight-eyebrow-desktop: 1.15;

	/* --> Heading ------------------------------------------------ */
	--size-h1-mobile: 38px;
	--lineheight-h1-mobile: 1.35;
	--size-h1-desktop: 40px;
	--lineheight-h1-desktop: 1.15;

	--size-h2-mobile: 28px;
	--lineheight-h2-mobile: 1.35;
	--size-h2-desktop: 32px;
	--lineheight-h2-desktop: 1.15;

	--size-h3-mobile: 24px;
	--lineheight-h3-mobile: 1.35;
	--size-h3-desktop: 28px;
	--lineheight-h3-desktop: 1.15;

	--size-h4-mobile: 22px;
	--lineheight-h4-mobile: 1.35;
	--size-h4-desktop: 24px;
	--lineheight-h4-desktop: 1.15;

	--size-h5-mobile: 18px;
	--lineheight-h5-mobile: 1.35;
	--size-h5-desktop: 20px;
	--lineheight-h5-desktop: 1.15;

	--size-h6-mobile: 14px;
	--lineheight-h6-mobile: 1.35;
	--size-h6-desktop: 16px;
	--lineheight-h6-desktop: 1.15;

	/* --> Subtitle ----------------------------------------------- */
	--size-subtitle-mobile: 18px;
	--lineheight-subtitle-mobile: 1.35;
	--size-subtitle-desktop: 20px;
	--lineheight-subtitle-desktop: 1.15;
	

	/* --> Lead --------------------------------------------------- */
	--size-lead-mobile: 16px;
	--lineheight-lead-mobile: 1.5;
	--size-lead-desktop: 18px;
	--lineheight-lead-desktop: 1.75;

	/* --> Text --------------------------------------------------- */
	--size-text-mobile: 16px;
	--lineheight-text-mobile: 1.5;
	--size-text-desktop: 18px;
	--lineheight-text-desktop: 1.7;

	/* --> Small -------------------------------------------------- */
	--size-small-mobile: 12px;
	--lineheight-small-mobile: 1.7;
	--size-small-desktop: 14px;
	--lineheight-small-desktop: 1.7;

	/* --> Blockquote --------------------------------------------- */
	--size-blockquote-mobile: var(--size-h3-mobile);
	--size-blockquote-desktop: var(--size-h3-desktop);

	/* --> List --------------------------------------------------- */
	--size-list-mobile: var(--size-text-mobile);
	--size-list-desktop: var(--size-text-desktop);
}
